:root {
  --color-default: #212121;
  --color-default-rgb: 33, 33, 33;

  --color-secondary: #388E3D;
  --color-secondary-rgb: 56, 142, 60;

  --color-gray: #494949;
  --color--gray-rgb: 73, 73, 73;

  --color-accent: #00E676;
  --color-accent-rgb: 0, 230, 118;

  --color-bg-default: #F5F5F5;
  --color-bg-default-rgb: 245, 245, 245;
}
