@add-mixin for-phone-only {
  :root {
    --page-horizontal-space: 16px;
    --page-vertical-space: 48px;
    --block-horizontal-space: 16px;
    --block-vertical-space: 32px;

    --banner-height: 100vh;

    --column-3: 100%;

    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-bg: 18px;
    --font-size-lg: 24px;
    --font-size-xg: 42px;
  }
}

@add-mixin for-tablet-portrait-up {
  :root {
    --page-horizontal-space: 32px;
    --page-vertical-space: 32px;
    --block-horizontal-space: 32px;
    --block-vertical-space: 32px;

    --banner-height: 260px;

    --font-size-md: 16px;
    --font-size-md: 18px;
    --font-size-bg: 24px;
    --font-size-lg: 32px;
    --font-size-xg: 64px;
  }
}

@add-mixin for-tablet-landscape-up {
  :root {
    --column-3-width: 30%;
  }
}

@add-mixin for-desktop-up {
  :root {
    --page-horizontal-space: 120px;
    --page-vertical-space: 120px;
  }
}

