<template>
  <div
    class="banner"
    v-if="content"
    v-in-view="animate"
    role="presentation">
    <app-img
      class="image"
      :alt="content.title"
      :src="content.image"
      aria-hidden="true" />
    <div class="content" role="presentation">
      <div class="text" role="presentation">
        <h3 class="title">
          {{ content.title }}
        </h3>
        <p class="description">
          {{ content.description }}
        </p>
      </div>
      <div class="call2action-container" role="presentation">
        <v-btn large dark class="call2action" color="green accent-3">
          {{ content.call2action }}
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'nuxt-property-decorator';
  import { BannerContent } from '~/types';

  @Component
  export default class Banner extends Vue {
    @Prop({ default: null })
    public content!: BannerContent;

    @Prop({ default: false })
    public animate!: boolean | string;
  }
</script>

<style scoped>
  .banner {
    height: var(--banner-height);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  .banner .image,
  .banner .content {
    position: absolute;
  }

  .banner .image {
    height: calc(100% + 40px);
    width: calc(100% + 40px);
    object-fit: cover;
    filter: blur(5px);
    background: transparent;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
  }

  .banner .content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--block-vertical-space) var(--page-horizontal-space);
    background-color: rgba(0, 0, 0, .4);
    display: flex;

    .title {
      color: white;
      font-size: var(--font-size-lg) !important;
      margin-bottom: 12px;
    }

    .description {
      color: white;
      font-size: var(--font-size-bg);
      font-weight: 100;
    }
  }

  @add-mixin for-phone-only {
    .banner .content {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      .text {
        margin-bottom: var(--block-vertical-space);
      }

      .title,
      .description {
        text-align: center;
      }
    }
  }

  @add-mixin for-tablet-portrait-up {
    .banner .content {
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
</style>
