<template>
  <v-btn
    dark
    block
    class="btn-uber"
    :href="link">
    Pedir Uber
  </v-btn>
</template>

<script lang="ts">
  import { Component, Vue } from 'nuxt-property-decorator';

  @Component
  export default class BtnUber extends Vue {
    public link = 'https://m.uber.com/ul/' +
      '?dropoff[formatted_address]=Rua%20Doutor%20Joaquim%20Otoni%2C%20430%20-' +
      '%20Parque%20Senhor%20do%20Bonfim%2C%20Duque%20de%20Caxias%20-%20RJ%2C%20Brasil' +
      '&client_id=nTOtuXODKW28-SUq5kb4bmzkKb6gS99D' +
      '&dropoff[latitude]=-22.781297' +
      '&dropoff[longitude]=-43.316221' +
      '&pickup=my_location' +
      '&action=setPickup';
  }
</script>

<style scoped>
  .btn-uber {
    font-weight: 700;
    padding: var(--block-vertical-space);
    font-size: var(--font-size-bg);
  }
</style>
