<template>
  <div
    class="carousel"
    v-if="isVisible"
    aria-label="Listagem de versículos bíblicos">
    <v-carousel
      height="100%"
      interval="30000"
      :hide-controls="true"
      delimiter-icon="fa-cicle"
      prev-icon="fa-chevron-left"
      next-icon="fa-chevron-right"
      role="list">
      <v-carousel-item
        class="item"
        v-for="(item, i) in items"
        :key="i"
        role="listitem">
        <app-img
          class="image"
          :alt="item.detail"
          :src="item.image"
          aria-hidden="true" />
        <h2 aria-label="Texto" class="content">
          {{ item.content }}
        </h2>
        <span aria-label="Local" class="detail">
          {{ item.detail }}
        </span>
      </v-carousel-item>
    </v-carousel>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'nuxt-property-decorator';
  import { CarouselItem } from '~/types';

  @Component
  export default class Carousel extends Vue {
    @Prop({ default: () => ([]) })
    public items!: CarouselItem[];

    get isVisible(): boolean {
      return !!this.items.length;
    }
  }
</script>

<style>
  .carousel {
    height: 100vh;
    position: relative;
  }

  .carousel .image {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute !important;
    left: 0;
    top: 0;
  }
</style>
