<template>
  <div class="featured" v-if="isVisible">
    <h2 class="title" v-if="title" v-in-view="animate">
      <span class="content">
        {{ title }}
      </span>
    </h2>

    <nuxt-link
      v-in-view="animate"
      v-for="(item, index) in items"
      :key="index"
      :to="item.link"
      class="item"
      role="presentation">
      <v-card
        :flat="flat"
        :class="{ flat, rounded }"
        role="presentation">
        <app-img
          :alt="item.title"
          :src="item.image"
          class="image"
          aria-hidden="true" />

        <v-card-title primary-title role="presentation">
          <div aria-label="Postagem">
            <h3 aria-label="Título" class="title">
              {{ item.title }}
            </h3>
            <time aria-label="Data" class="date">
              {{ item.date }}
            </time>
            <p aria-label="Texto introdutório" class="content">
              {{ item.intro }}
            </p>
          </div>
        </v-card-title>

        <v-card-actions v-if="!flat">
          <v-btn flat>
            Compartilhar
          </v-btn>
          <v-btn flat>
            Leia mais
          </v-btn>
        </v-card-actions>
      </v-card>
    </nuxt-link>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'nuxt-property-decorator';
  import { Post } from '~/types';

  @Component
  export default class Featured extends Vue {
    @Prop({ default: () => ([]) })
    public items!: Post[];

    @Prop()
    public title?: string;

    @Prop({ default: true })
    public flat!: boolean;

    @Prop({ default: true })
    public rounded!: boolean;

    @Prop({ default: false })
    public animate!: boolean | string;

    get isVisible(): boolean {
      return !!this.items.length;
    }
  }
</script>

<style scoped>
  .featured {
    padding: var(--page-vertical-space) var(--page-horizontal-space);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    > .title {
      display: block;
      margin-bottom: var(--block-vertical-space);
      text-align: center;
      width: 100%;

      > .content {
        font-weight: bold;
        font-size: var(--font-size-lg);
        display: inline-block;

        &::before,
        &::after {
          content: "";
          height: 4px;
          border-radius: 4px;
          width: calc(100% + 30px);
          display: block;
          margin: 12px auto;
          background-color: #00e676;
        }

        &::before {
          transform: translateX(-30px);
        }
      }

    }
  }

  .item {
    width: var(--column-3-width);
    box-sizing: border-box;

    .image {
      width: 100%;
      max-height: 40vh;
      min-height: 280px;
      object-fit: cover;
      object-position: center;
    }

    .title {
      margin-bottom: 12px;
      font-size: 26px !important;
      font-weight: bold;
    }

    .date {
      color: #666;
      display: inline-block;
      margin-bottom: 12px;
      font-weight: 100;
      font-size: 16px;
    }

    .content {
      line-height: 1.45em;
      font-size: 18px;
    }
  }

  @add-mixin for-phone-and-tablet-portrait {
    .item:not(:last-child) {
      margin-bottom: var(--block-vertical-space);
    }
  }
</style>
