<template>
  <footer class="footer" aria-label="Rodapé">
    <div class="footer-item author" aria-label="Autor">
      <span class="shadow-text">
        Desenvolvido por
      </span>
      <a
        class="name"
        href="https://github.com/cleitonper"
        rel="noreferrer noopener"
        target="_blank">
        Cleiton<span>per</span>
      </a>
    </div>

    <div class="footer-item logo" role="presentation">
      <app-logo mode="light" />
    </div>

    <div class="footer-item social" aria-label="Redes Sociais">
      <a
        v-for="(contact, index) in contacts"
        :key="index"
        :href="contact.href"
        :aria-label="contact.label"
        class="item">
        <v-icon class="icon">{{ contact.icon }}</v-icon>
      </a>
    </div>
  </footer>
</template>

<script lang="ts">
  import { Vue, Component } from 'nuxt-property-decorator';
  import Logo from '~/components/logo.vue';

  @Component({
    components: {
      'app-logo': Logo,
    },
  })
  export default class Footer extends Vue {
    public readonly contacts = [
      { href: 'javascript:void', label: 'Facebook', icon: 'mdi-facebook' },
      { href: 'javascript:void', label: 'Instagram', icon: 'mdi-instagram' },
      { href: 'javascript:void', label: 'Twitter', icon: 'mdi-twitter' },
      { href: 'javascript:void', label: 'Whatsapp', icon: 'mdi-whatsapp' },
    ];
  }
</script>

<style scoped>
  .footer {
    width: 100%;
    min-height: 200px;
    background-color: black;
    padding: var(--block-vertical-space) var(--page-horizontal-space);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer-item {
    text-align: center;
  }

  .author {
    font-size: 16px;

    .shadow-text {
      color: #666;
    }

    .name {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      transition: color 400ms;

      span {
        font-weight: 100;
      }
    }

    .name:hover {
      color: var(--color-accent);
    }
  }

  .social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .icon {
      color: white;
      transition: color 400ms;
    }

    .item {
      width: 42px;
      height: 42px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      border: 2px solid white;
      border-radius: 50%;
      transition: border-color 400ms;
    }

    .item:hover {
      border-color: var(--color-accent);
      .icon { color: var(--color-accent); }
    }

    .item:not(:last-child) {
      margin-right: 16px;
    }
  }

  @add-mixin for-phone-and-tablet-portrait {
    .footer-item {
      width: 100%;
    }

    .logo   { order: 1; margin-bottom: var(--block-vertical-space); }
    .social { order: 2; margin-bottom: var(--block-vertical-space); }
    .author { order: 3; }
  }

  @add-mixin for-tablet-landscape-up {
    .footer-item {
      width: 30%;
    }
  }
</style>
