<template>
  <v-btn
    flat
    role="button"
    aria-label="Menu de navegação"
    class="hamburger hidden-md-and-up">
    <span
      aria-hidden="true"
      class="steak">
    </span>
  </v-btn>
</template>

<style>
  .hamburger {
    --steak-space: 7px;
    --steak-width: 28px;
    --steak-height: 3px;
    border-radius: 50%;
    min-width: 48px;
    min-height: 48px;
    position: relative;
    box-sizing: border-box;
  }

  .steak,
  .steak::before,
  .steak::after {
    display: block;
    height: var(--steak-height);
    background-color: var(--color-default);
    border-radius: 8px;
  }

  .steak::before,
  .steak::after {
    content: "";
    position: absolute;
  }

  .steak::before {
    bottom: var(--steak-space);
    width: calc(var(--steak-width) / 1.2);
  }

  .steak {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--steak-width);
  }

  .steak::after {
    top: var(--steak-space);
    width: calc(var(--steak-width) / 1.4);
  }
</style>

<script lang="ts">
export default {};
</script>
