<template>
  <v-toolbar
    :fixed="true"
    :flat="flat"
    :height="height"
    :color="color"
    role="banner"
    aria-label="Cabeçalho da Página">
    <v-toolbar-title>
      <nuxt-link to="/">
        <app-logo class="logo" :use-page-title="true" />
      </nuxt-link>
    </v-toolbar-title>
    <v-spacer aria-hidden="true" />
    <v-toolbar-items
      v-if="isNavigationVisible"
      class="navigation hidden-sm-and-down"
      role="navigation"
      aria-label="Navegação principal">
      <nuxt-link
        v-for="item in items"
        :key="item.id"
        :to="item.link"
        class="item">
        <v-btn
          flat
          role="presentation">
          {{ item.title }}
        </v-btn>
      </nuxt-link>
    </v-toolbar-items>
    <hamburger @click.native="toggleMenu" />
  </v-toolbar>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'nuxt-property-decorator';
  import { NavigationItem } from '~/types';
  import Hamburger from '~/components/hamburger.vue';
  import Logo from '~/components/logo.vue';

  @Component({
    components: {
      'app-logo': Logo,
      'hamburger': Hamburger,
    },
  })
  export default class Header extends Vue {
    @Prop({ default: () => ([]) })
    public items!: NavigationItem[];

    @Prop({ default: false })
    public sticky!: boolean;

    get flat(): boolean {
      return !this.sticky;
    }

    get color(): string {
      return this.sticky ? '#fff' : 'transparent';
    }

    get height(): number {
      return this.sticky ? 60 : 80;
    }

    get isNavigationVisible(): boolean {
      return !!this.items.length;
    }

    public toggleMenu() {
      this.$emit('toggleMenu');
    }
  }
</script>

<style scoped>
  .logo { cursor: pointer; }
  .item { height: 100%; }
</style>
