<template>
  <div class="app-img" ref="wrapper" v-in-view="show">
    <nuxt-img
      v-if="loaded"
      class="image"
      :alt="alt"
      :src="nuxtImagePath"
      responsive-style="thumb" />
    <nuxt-img
      class="placeholder"
      :class="{ 'hide': !showPlaceholder }"
      :alt="alt"
      :src="`${nuxtImagePath}?style=placeholder`" />
  </div>
</template>

<script lang="ts">
  import { basename } from 'path';
  import { setImmediate } from 'timers';
  import { Component, Vue, Prop } from 'nuxt-property-decorator';

  @Component
  export default class Img extends Vue {
    @Prop()
    public src!: string;

    @Prop()
    public alt!: string;

    public loaded = false;

    public showPlaceholder = true;

    public beforeUpdate() {
      if (this.loaded && this.showPlaceholder) this.removePlaceholderAfterLoad();
    }

    get nuxtImagePath() {
      return `/${basename(this.src)}`;
    }

    get image(): HTMLImageElement {
      const wrapper = this.$refs.wrapper as HTMLElement;
      const image = wrapper.querySelector('.image') as HTMLImageElement;
      return image;
    }

    private removePlaceholderAfterLoad(): void {
      const listener = () => { this.showPlaceholder = false; };
      setImmediate(() => this.image.addEventListener('load', listener, { once: true }));
    }

    public show(): void {
      this.loaded = true;
    }
  }
</script>

<style scoped>
  .app-img {
    overflow: hidden;
    position: relative;
  }

  .app-img .placeholder,
  .app-img .image {
    object-fit: cover;
    object-position: center;
    height: calc(100% + 100px);
    width: calc(100% + 100px);
    position: absolute;
    top: -50px;
    left: -50px;
    bottom: -50px;
    right: -50px;
  }

  .app-img .placeholder {
    filter: blur(30px);
    background: transparent;
    transition: all 900ms linear;

    &.hide {
      visibility: hidden;
      filter: blur(0);
      opacity: 0;
    }
  }
</style>
