<template>
  <span class="app-logo" :class="mode" aria-label="Logo">
    <h1 v-if="usePageTitle" class="page-title">{{ pageTitle }}</h1>
    <span aria-hidden="true" class="unbordered">Rompendo em</span>
    <span aria-hidden="true" class="bordered">Fé</span>
  </span>
</template>

<script lang="ts">
  import { Component, Vue, Prop, State } from 'nuxt-property-decorator';

  @Component
  export default class Logo extends Vue {
    @Prop({ default: 'dark' })
    public mode!: string;

    @Prop({ default: false })
    public usePageTitle!: boolean;

    @State
    public pageTitle!: string;
  }
</script>

<style scoped>
  .app-logo {
    user-select: none;
    display: inline-block;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
    font-size: 28px;

    &.light { color: white; }
    &.dark  { color: var(--color-default); }
    &.dark .bordered  { border: 3px solid var(--color-default); }
    &.light .bordered { border: 3px solid white; }
  }

  .bordered {
    display: inline-block;
    padding: .2em .3em;
    font-size: .8em;
  }

  .unbordered {
    display: none;
  }

  /**
   * This title will only be visible
   * for search engines and screen readers.
   */
  .page-title {
    font-size: 0px;
    padding: 0;
    margin: 0;
  }

  @add-mixin for-tablet-landscape-up {
    .unbordered {
      display: inline-block;
    }
  }
</style>
