<template>
  <v-navigation-drawer
    fixed
    class="hidden-md-and-up app-navigation"
    aria-label="Navegação principal"
    v-model="open"
    @input="$emit('toggleMenu', open)">
    <v-toolbar
      flat
      height="80"
      aria-hidden="true">
      <v-list>
        <v-list-tile class="header">
          <v-list-tile-action>
            <app-logo />
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>
              Rompendo em Fé
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-list
      dense
      class="pt-0 navigation-list"
      aria-label="Paginas">
      <v-divider aria-hidden="true" />

      <nuxt-link
        v-for="item in items"
        :key="item.title"
        :to="item.link"
        class="navigation-link"
        role="presentation">
        <v-list-tile
          role="presentation"
          v-ripple>
          <v-list-tile-action role="presentation">
            <v-icon class="icon">
              {{ item.icon }}
            </v-icon>
          </v-list-tile-action>

          <v-list-tile-content role="link">
            <v-list-tile-title class="title">
              {{ item.title }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </nuxt-link>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'nuxt-property-decorator';
  import { NavigationItem } from '~/types';
  import { Logo } from '~/components';

  @Component({
    components: {
      'app-logo': Logo,
    },
  })
  export default class Navigation extends Vue {
    @Prop({ default: () => ([]) })
    public items!: NavigationItem[];

    @Prop({ default: false })
    public open!: boolean;
  }
</script>

<style scoped>
  .header .v-list__tile {
    padding: 0;
  }

  .navigation-link {
    color: var(--ion-color-default);
  }
</style>
