<template>
  <h2 class="page-subtitle">
    <slot></slot>
  </h2>
</template>

<script lang="ts">
  import { Component, Vue } from 'nuxt-property-decorator';

  @Component
  export default class PageSubitle extends Vue {}
</script>

<style scoped>
.page-subtitle {
  width: 100%;
  font-size: var(--font-size-lg);
  font-weight: 100;
  margin-bottom: var(--page-vertical-space);
}
</style>
