<template>
  <h3 class="page-title">
    <slot></slot>
  </h3>
</template>

<script lang="ts">
  import { Component, Vue } from 'nuxt-property-decorator';

  @Component
  export default class PageTitle extends Vue {}
</script>

<style scoped>
.page-title {
  width: 100%;
  font-size: var(--font-size-xg) !important;
  font-weight: 500;
}
</style>
