<template>
  <div class="schedule">
    <v-icon class="icon">
      mdi-progress-clock
    </v-icon>
    <h5 class="title">
      {{ schedule.day }}
    </h5>
    <p class="content">
      {{ schedule.begin }} às {{ schedule.end }}
    </p>
  </div>
</template>

<script lang="ts">
  import { Component, Vue, Prop } from 'nuxt-property-decorator';
  import { Schedule as ISchedule } from '~/types';

  @Component
  export default class Schedule extends Vue {
    @Prop()
    public schedule!: ISchedule;
  }
</script>

<style scoped>
  .schedule {
    border-radius: 8px;
    border: 1px solid #dedede;
    background-color: #fafafa;
    margin-bottom: 24px;
    padding: 16px 48px;
    text-align: center;
    cursor: pointer;

    &:hover > .icon {
      color: black;
      opacity: 1;
    }

    > .icon {
      opacity: .2;
      color: var(--color-default);
      transition: all 400ms;
      font-size: 48px;
      padding: 24px;
    }

    > .title {
      font-size: var(--font-size-md) !important;
      font-weight: 700;
    }

    > .content {
      font-weight: 100;
      font-size: var(--font-size-bg) !important;
    }
  }

  @add-mixin for-phone-only {
    .schedule { width: 100%; }
  }

  @add-mixin for-tablet-portrait-up {
    .schedule { width: 45%; }
  }

  @add-mixin for-desktop-up {
    .schedule { width: 23%; }
  }
</style>
