<template>
  <h4 class="section-title">
    <slot></slot>
  </h4>
</template>

<script lang="ts">
  import { Component, Vue } from 'nuxt-property-decorator';

  @Component
  export default class SectionTitle extends Vue {}
</script>

<style scoped>
  .section-title {
    width: 100%;
    font-size: var(--font-size-lg) !important;
    margin-bottom: 18px;
    font-weight: 500;
  }
</style>
