@define-mixin for-phone-only {
  @media (max-width: 599px) { @mixin-content; }
}

@define-mixin for-phone-and-tablet-portrait {
  @media (max-width: 959px) { @mixin-content; }
}

@define-mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @mixin-content; }
}

@define-mixin for-tablet-landscape-up {
  @media (min-width: 960px) { @mixin-content; }
}

@define-mixin for-desktop-up {
  @media (min-width: 1200px) { @mixin-content; }
}

@define-mixin for-big-desktop-up {
  @media (min-width: 1900px) { @mixin-content; }
}
