<template>
  <section class="word-page">
    <app-img
      class="image"
      :alt="title"
      :src="image"
      aria-hidden="true" />
    <article class="word">
      <div class="meta">
        <div class="author" aria-label="Autor">
          <span class="hightlight">por</span>
          <a class="name" href="javascript:void()">
            {{ author }}
          </a>
        </div>
        <div class="date" aria-label="Data de publicação">
          {{ date }}
        </div>
      </div>
      <page-title>{{ title }}</page-title>
      <page-subtitle>{{ intro }}</page-subtitle>
      <div
        class="content"
        v-html="$md.render(content)"
        role="presentation">
      </div>
    </article>
  </section>
</template>

<script lang="ts">
  import { Component, Vue, Mutation } from 'nuxt-property-decorator';
  import { DataService } from '~/services';
  import { Post } from '~/types';

  @Component
  export default class WordPage extends Vue {
    public title!: string;
    public intro!: string;

    @Mutation
    public setPageTitle;

    public asyncData({ params }): Promise<Post> {
      return DataService.loadFromFile('palavras', params.slug);
    }

    public created() {
      this.setPageTitle(this.title);
    }

    public head() {
      return {
        titleTemplate: `%s - ${this.title}`,
        meta: [{
          hid: 'description',
          name: 'description',
          content: this.intro,
        }],
      };
    }
  }
</script>

<style scoped>
  .word-page {
    padding-bottom: var(--page-vertical-space);
  }

  .word {
    padding: 0px var(--page-horizontal-space);
  }

  .word-page .image {
    width: 100%;
    height: 50vh !important;
    object-position: center;
    object-fit: cover;
  }

  .word-page .content {
    font-size: var(--font-size-md);
  }

  .meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 16px;
    margin: 12px 0px;
  }

  .date {
    font-weight: 100;
    color: #666;
  }

  .author {
    margin-right: 48px;

    .hightlight {
      font-weight: bold;
      color: #666;
    }

    .name {
      transition: color 400ms;
      color: var(--color-accent);
      font-weight: bold;
    }

    .name:hover {
      color: var(--color-default);
    }
  }
</style>
