@import "~/assets/style/variables";
@import "~/assets/style/fonts";
@import "~/assets/style/vuetify";
@import "~/assets/style/transitions";

body {
  font-family: Roboto, sans-serif;
  background-color: var(--color-bg-default);
}

h2, h3, h4, h5, h6 {
  margin: 0px 0px 16px;
}

a {
  color: var(--color-secondary);
}

a:hover {
  color: var(--color-default);
}

a,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  border: none;
}

p, li {
  margin: 0 0 16px;
}

ol, ul, blockquote {
  margin: 24px 0px;
}

p {
  color: #494949;
  line-height: 1.55em;
  font-size: var(--font-size-md);
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #EAEAEA;
  padding: 24px 0;
  position: relative;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  left: 50%;
  top: 0em;
  width: 42px;
  height: 28px;
  color: var(--color-gray);
  text-align: center;
  font: 60px sans-serif;
  transform: translate(-50%, -100%);
  background: var(--color-bg-default);
}

blockquote p {
  margin: 0px;
}

ul {
  padding: 0px 0px 0px 12px;
  list-style-type: '\1f852';
  list-style-position: outside;
  color: var(--color-default);

  li { padding-left: 8px; }
}
