/**
 * Page default transition
 */
.page-enter-active,
.page-leave-active {
  transition: opacity 500ms;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}


/**
 * Layout default transition
 */
.layout-enter-active,
.layout-leave-active {
  transition: opacity 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}


/**
 * slide-left transition
 */
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 8s;
}

.slide-left-enter,
.slide-left-leave-active {
  opacity: 0;
  transform: translateX(-30px);
}


/**
 * slide-right transition
 */
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 400ms;
}

.slide-right-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translateX(30px);
}


/**
 * in-view directive default transition
 */
.in-view__will-enter {
  opacity: 0;
  z-index: -1;
  transform: translateY(100px);
}

.in-view__enter {
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition: opacity 550ms, transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}


/**
 * in-view directive slide-left transition
 */
.in-view__will-slide-left {
  opacity: 0;
  z-index: -1;
  transform: translateX(-50px);
}

.in-view__slide-left {
  opacity: 1;
  z-index: 1;
  transform: translateX(0);
  transition: opacity 750ms, transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}
