.v-btn {
  text-transform: none;
}
/**
* Carousel
**/
.v-carousel .v-window-item {
  height: 100%;
}

.v-carousel .v-responsive__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(var(--color-default-rgb), 0.2);
  padding: 80px 60px 30px;

  .content {
    text-align: center;
    margin-top: -48px;
    margin-bottom: 32px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: var(--font-size-lg);
    max-width: 450px;
  }

  .detail {
    border: 3px solid white;
    display: inline-block;
    font-weight: bold;
    font-size: var(--font-size-bg);
    padding: 16px;
  }
}

.v-carousel {
  &__prev .v-btn,
  &__next .v-btn {
    width: 56px;
    height: 56px;
  }

  &__prev .v-btn {
    padding-right: 14px;
    padding-left: 10px;
  }

  &__next .v-btn {
    padding-right: 10px;
    padding-left: 14px;
  }
}

.v-carousel__controls {
  background: none;
}


/**
* Toolbar
**/
.v-toolbar {
  &.theme--light{
    transition: background-color 400ms;
  }

  &__content {
    box-sizing: content-box;
    padding: 0px var(--page-horizontal-space);
    transition: height 400ms;
  }
}

/**
 * Parallax
**/

.v-parallax {
  &.blur .v-parallax__image {
    filter: blur(6px);
  }

  &__content {
    padding: 0;
  }
}

/**
 * Card
**/

.v-card.flat {
  overflow: hidden;
  transition: box-shadow 400ms;
  border: 1px solid #EEEEEE;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.08);
  }

  .image {
    transition: transform 600ms ease-in-out;
  }

  &:hover .image {
    transform: scale(1.05);
  }
}

.v-card.rounded {
  border-radius: 8px 8px;
}
