<template>
  <main class="content">
    <div
      v-if="isMenuOpen"
      class="hidden-md-and-up v-overlay v-overlay--fixed v-overlay--active"
      @click="toggleMenu"
      aria-hidden="true">
    </div>
    <app-header :items="navigationItems" :sticky="true" @toggleMenu="toggleMenu" />
    <app-navigation :items="navigationItems" :open="isMenuOpen" @toggleMenu="toggleMenu" />
    <nuxt role="presentation" />
    <app-footer />
  </main>
</template>

<script lang="ts">
  import { Vue, Component } from 'nuxt-property-decorator';
  import { Header, Footer, Navigation } from '~/components';
  import { NavigationItem } from 'types';
  import { DataService } from '~/services';

  const { site } = DataService.loadFromFile('config', 'site');

  @Component({
    components: {
      'app-header':     Header,
      'app-footer':     Footer,
      'app-navigation': Navigation,
    },
  })
  export default class Default extends Vue {
    public navigationItems: NavigationItem[] = [
      { icon: 'mdi-home', title: 'A Igreja', link: '/a-igreja' },
      { icon: 'mdi-bible', title: 'Palavras', link: '/palavras' },
      { icon: 'mdi-calendar', title: 'Eventos', link: '/eventos' },
    ];

    public isMenuOpen = false;

    public head() {
      const baseAddress = site.address;
      const path = this.$route.path.endsWith('/')
        ? this.$route.path
        : this.$route.path + '/';

      const canonical = `${baseAddress}${path}`;

      return {
        link: [
          { rel: 'canonical', href: canonical },
        ],
      };
    }

    public toggleMenu(isMenuOpen: boolean) {
      this.isMenuOpen = isMenuOpen || !this.isMenuOpen;
    }
  }
</script>

<style scoped>
  .content {
    padding-top: 60px;
  }
</style>
