<template>
  <main v-scrolll="onScroll">
    <div
      v-if="isMenuOpen"
      class="hidden-md-and-up v-overlay v-overlay--fixed v-overlay--active"
      @click="toggleMenu"
      aria-hidden="true">
    </div>
    <app-header :items="navigationItems" :sticky="stickyHeader" @toggleMenu="toggleMenu" />
    <app-navigation :items="navigationItems" :open="isMenuOpen" @toggleMenu="toggleMenu" />
    <nuxt role="presentation" />
    <app-footer />
  </main>
</template>

<script lang="ts">
  import { Vue, Component } from 'nuxt-property-decorator';
  import { Header, Footer, Navigation } from '~/components';
  import { NavigationItem } from 'types';

  const { site } = require('~/content/config/site.json');

  @Component({
    components: {
      'app-header':     Header,
      'app-footer':     Footer,
      'app-navigation': Navigation,
    },
  })
  export default class Default extends Vue {
    public navigationItems: NavigationItem[] = [
      { icon: 'mdi-home',     title: 'A Igreja', link: '/a-igreja' },
      { icon: 'mdi-bible',    title: 'Palavras', link: '/palavras' },
      { icon: 'mdi-calendar', title: 'Eventos',  link: '/eventos' },
    ];

    public isMenuOpen = false;

    public stickyHeader = false;

    public head() {
      return {
        link: [
          { rel: 'canonical', href: `${site.address}/` },
        ],
      };
    }

    public toggleMenu(isMenuOpen: boolean) {
      this.isMenuOpen = isMenuOpen || !this.isMenuOpen;
    }

    public onScroll(): void {
      const position = document.documentElement.scrollTop || document.body.scrollTop;
      this.stickyHeader = position > 0;
    }
  }
</script>
