<template>
  <section class="the-church-page">
    <page-title>{{ title }}</page-title>
    <page-subtitle>{{ subtitle }}</page-subtitle>

    <article class="schedules">
      <section-title>Funcionamento</section-title>
      <app-schedule
        :key="index"
        v-for="(schedule, index) in schedules"
        :schedule="schedule" />
    </article>
    <article
      :key="index"
      v-for="(article, index) in articles"
      class="article">
      <section-title>{{ article.title }}</section-title>
      <p v-html="$md.render(article.content)"></p>
    </article>

    <app-btn-uber />
  </section>
</template>

<script lang="ts">
  import { Component, Vue, Mutation } from 'nuxt-property-decorator';
  import { Schedule as ScheduleComponent, BtnUber } from '~/components';
  import { Schedule, Post } from '~/types';
  import { DataService } from '~/services';

  @Component({
    components: {
      'app-schedule': ScheduleComponent,
      'app-btn-uber': BtnUber,
    },
  })
  export default class TheChurchPage extends Vue {
    public schedules!: Schedule[];
    public articles!: Partial<Post>[];
    public title!: string;
    public subtitle!: string;

    @Mutation
    public setPageTitle;

    public created(): void {
      this.schedules  = DataService.loadFromFile('a-igreja', 'schedules', true);
      this.articles = DataService.loadFromFile('a-igreja', 'presentation', true);
      this.config();
    }

    public head() {
      return {
        titleTemplate: `%s - ${this.title}`,
      };
    }

    private config(): void {
      const { title, subtitle } = DataService.loadFromFile('config', 'a-igreja');
      this.title = title;
      this.subtitle = subtitle;
      this.setPageTitle(title);
    }
  }
</script>

<style scoped>
  .the-church-page {
    padding: var(--block-vertical-space) var(--page-horizontal-space);
    min-height: calc(100vh - 260px);
  }

  .schedules {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .article {
    margin-bottom: var(--block-vertical-space);
  }
</style>
