<template>
  <div>
    <app-carousel class="carousel" :items="carouselItems" />
    <app-featured class="featured" :items="featuredItems" :animate="true" title="Palavras" />
    <app-banner class="banner" :content="bannerContent" :animate="'slide-left'" />
    <app-featured class="featured" :items="recentEvents" :animate="true" title="Eventos Recentes" />
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Mutation } from 'nuxt-property-decorator';
  import { DataService } from '~/services';
  import { CarouselItem, Post, BannerContent } from '~/types';
  import Carousel from '~/components/carousel.vue';
  import Featured from '~/components/featured.vue';
  import Banner from '~/components/banner.vue';

  @Component({
    layout: 'home',
    components: {
      'app-carousel': Carousel,
      'app-featured': Featured,
      'app-banner':   Banner,
    },
  })
  export default class HomePage extends Vue {
    public featuredItems!: Post[];
    public recentEvents!: Post[];
    public carouselItems!: CarouselItem[];
    public bannerContent!: BannerContent[];

    @Mutation
    public setPageTitle;

    public created() {
      this.featuredItems = DataService.loadFromFolder<Post>('palavras').slice(-3);
      this.recentEvents = DataService.loadFromFolder<Post>('eventos').slice(-3);
      this.carouselItems = DataService.loadFromFile('home', 'slides', true);
      this.bannerContent = DataService.loadFromFile('home', 'banner');
      this.setPageTitle('Home');
    }

    public head() {
      return {
        titleTemplate: '%s - Home',
      };
    }
  }
</script>
