<template>
  <section class="events-page">
    <page-title class="title">
      {{ title }}
    </page-title>
    <page-subtitle class="subtitle">
      {{ subtitle }}
    </page-subtitle>

    <section class="events" role="presentation">
      <article
        v-for="(event, index) in events"
        :key="index"
        class="event">
        <div
          v-ripple
          class="content"
          @click="navigate(event.link)"
          role="link"
          :aria-label="`Ir para a página ${event.title}`">
          <h4 class="title">
            {{ event.title }}
          </h4>
          <p class="intro">
            {{ event.intro }}
          </p>
        </div>
        <div class="meta" aria-label="Sobre a postagem">
          <span class="author" aria-label="Autor">
            <span class="highlight">por</span>
            <a href="javascript:void()" v-ripple>{{ event.author }}</a>
            <span aria-hidden="true">-</span>
          </span>
          <span class="date" aria-label="Data de publicação">
            {{ event.date }}
          </span>
        </div>
      </article>
    </section>
  </section>
</template>

<script lang="ts">
  import { Component, Vue, Mutation } from 'nuxt-property-decorator';
  import { DataService } from '~/services';
  import { Post } from '~/types';

  @Component
  export default class EventsPage extends Vue {
    public events!: Post[];
    public title!: string;
    public subtitle!: string;

    @Mutation
    public setPageTitle;

    public created() {
      this.events = DataService.loadFromFolder('eventos');
      this.config();
    }

    public head() {
      return {
        titleTemplate: `%s - ${this.title}`,
        meta: [{ hid: 'description', name: 'description', content: this.subtitle }],
      };
    }

    public navigate(route: string): void {
      this.$router.push(route);
    }

    private config(): void {
      const { title, subtitle } = DataService.loadFromFile('config', 'eventos');
      this.title = title;
      this.subtitle = subtitle;
      this.setPageTitle(title);
    }
  }
</script>

<style scoped>
  .events-page {
    --event-padding: 8px;
    padding: var(--block-vertical-space) 0px;
    min-height: calc(100vh - 260px);
  }

  .events-page > .title,
  .events-page > .subtitle {
    padding: 0px var(--page-horizontal-space);
  }

  .events {
    padding: 0px calc(var(--page-horizontal-space) - var(--event-padding));
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .event {
    margin-bottom: var(--block-vertical-space);

    .content {
      cursor: pointer;
      user-select: none;
      box-sizing: border-box;
      padding: var(--event-padding);

      &:hover .title { color: var(--color-accent); }
    }

    .title {
      transition: color 300ms;
      color: var(--color-default);
      font-size: var(--font-size-bg) !important;
      margin-bottom: 12px;
    }

    .intro {
      line-height: 1.4em;
      font-size: var(--font-size-md);
      color: #494949;
    }

    .meta {
      padding: 0px var(--event-padding);
      font-weight: 100;
    }

    .author {
      font-weight: 100;

      .highlight { font-weight: 700; color: #666; }

      a {
        padding: 6px;
        display: inline-block;
        transition: color 300ms;
        color: var(--color-accent);
        font-weight: 500;
      }

      a:hover {
        color: var(--color-default);
      }
    }

    .date {
      padding: 6px;
    }
  }

  @add-mixin for-phone-and-tablet-portrait {
    .event { width: 100%; }
  }

  @add-mixin for-tablet-landscape-up {
    .event { width: calc(50% - 30px); }
    .event:nth-child(odd) { margin-right: 60px; }
  }

  @add-mixin for-desktop-up {
    .event { width: calc((100% / 3) - 40px); }
    .event:nth-child(odd) { margin-right: 0px; }
    .event:not(:nth-child(3n - 3)) { margin-right: 60px; }
  }
</style>
